# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

.iml

.idea/


.dart_tool/
.dart_tool/pub/bin/build_runner/
.dart_tool/pub/bin/markdown/
.dart_tool/pub/bin/test/
